[Unit]
Description=Update status bar every second

[Timer]
OnActiveSec=0
AccuracySec=1us
OnCalendar=*-*-* *:*:0/0.5
Unit=statusbar.service

[Install]
WantedBy=timers.target
