[Unit]
    Description=Pacman Automatic Update
    After=network-online.target

[Service]
    Type=simple
    ExecStart=/usr/bin/yaourt -Syyu --noconfirm
    TimeoutStopSec=300
    KillMode=process
    KillSignal=SIGINT

[Install]
    WantedBy=multi-user.target
